{% extends 'layout.html' %}

{% block main %}
<ol class="breadcrumb">
	<li><a href="/">管理首页</a> </li>
	<li><span>内容添加</span></li>
</ol>
<form role="role" method="post">
	<div class="form-group">
		<label for="name">分类</label>
		<select name="category" class="form-control" id="category">
			{% for category in categories %}
			<option value="{{category._id}}">{{category.name}}</option>
			{%endfor%}
		</select>
	</div>
	<div class="form-group">
		<label for="name">标题</label>
		<input type="text" class="form-control" id="title" name="title"  placeholder="请输入标题" />
		
	</div>
	<div class="form-group">
		<label for="name">简介</label>
		<textarea class="form-control" id="description" name="description" rows="5" placeholder="请输入简介" /></textarea>
	</div>
	<div class="form-group">
		<label for="content">内容</label>
		<textarea class="form-control" id="content" name="content"  rows="10" placeholder="请输入内容"></textarea>
		
	</div>
	
	<button type="submit" class="btn btn-default" >提交</button>
</form>
	{% include 'page.html' %}<!--使用该种模板引用必须保证后端在给出数据的时候包含引用本身所需要的数据-->
{% endblock %}
